<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--已通知拣货单是否重复通知-->
    <add key="IsRepeat" value="false" />
    <!--是否通知新拣货单-->
    <add key="IsNew" value="true" />
    <!--是否通知滞留单-->
    <add key="IsDelay" value="true" />
    <!--轮询间隔-->
    <add key="PollInterval" value="3"/>
    <!--国际化配置-->
    <add key="Lang" value="en-US"/>
    <!--登录地址-->
    <add key="LoginUrl" value="http://mysso.jd.id/login"/>
    <!--出库服务地址-->
    <add key="OutBaseUrl" value="http://out.jd.id"/>
    <!--库存服务地址-->
    <add key="StockBaseUrl" value="http://stock.jd.id"/>
    <!--AES KEY-->
    <add key="AESKey" value="GRE5sAmmndnu0t3h1+OzMNfrGHoVn2mdy44qISfVJqs="/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>